<template>
  <section class="information__home flex w-[90%] mx-auto">
    <!-- INFORMATION LEFT -->
    <div
      class="information__left justify-center align-middle flex-auto w-[60%]"
    >
      <!-- POST 1 -->
      <div class="information__post__1 mb-[30px] border-whitesmoke border-4">
        <div class="post__image">
          <img v-bind:src="picture_blog_1" alt="" />
        </div>
        <div class="post__info p-[10px]">
          <div class="post__title border-b-2 border-whitesmoke pb-[10px]">
            <h1 class="font-bold uppercase text-orange mt-3 mb-3">
              life style
            </h1>
            <h2 class="font-bold mb-3">Best Template Website For HTML CSS</h2>
            <span class="text-gray-300 border-r-[1px] pr-[10px] mr-[10px]"
              >Admin</span
            >
            <span class="text-gray-300 border-r-[1px] pr-[10px] mr-[10px]"
              >May 21, 2022</span
            >
            <span>12 comments</span>
          </div>
          <div class="post__info mt-3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
              necessitatibus fuga ad vitae corporis labore ipsam ducimus quis
              explicabo eligendi magni at dignissimos accusantium blanditiis ex
              ipsum similique quod pariatur?
            </p>
          </div>
        </div>
      </div>
      <!-- POST 2 -->
      <div class="information__post__2 mb-[30px] border-whitesmoke border-4">
        <div class="post__image">
          <img v-bind:src="picture_blog_2" alt="" />
        </div>
        <div class="post__info p-[10px]">
          <div class="post__title border-b-2 border-whitesmoke pb-[10px]">
            <h1 class="font-bold uppercase text-orange mt-3 mb-3">
              life style
            </h1>
            <h2 class="font-bold mb-3">Best Template Website For HTML CSS</h2>
            <span class="text-gray-300 border-r-[1px] pr-[10px] mr-[10px]"
              >Admin</span
            >
            <span class="text-gray-300 border-r-[1px] pr-[10px] mr-[10px]"
              >May 21, 2022</span
            >
            <span>12 comments</span>
          </div>
          <div class="post__info mt-3">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi,
              necessitatibus fuga ad vitae corporis labore ipsam ducimus quis
              explicabo eligendi magni at dignissimos accusantium blanditiis ex
              ipsum similique quod pariatur?
            </p>
          </div>
        </div>
      </div>

      <button
        class="bg-orange opacity-[90%] hover:opacity-[100%] transition-all duration-75 w-[100%] text-whitesmoke font-bold uppercase py-[20px]"
      >
        view all posts
      </button>
    </div>

    <!-- INFORMATION RIGHT -->
    <div class="information__right flex-auto w-[30%] ml-[30px]">
      <!-- RECENT POST -->
      <div class="recent__posts">
        <h1 class="uppercase font-bold border-b-4 border-whitesmoke pb-[10px]">
          recent posts
        </h1>
        <!-- RECENT POST 1 -->
        <div
          class="recent__posts__1 mt-[10px] border-b-4 border-whitesmoke pb-[10px]"
        >
          <h1 class="font-bold mb-[10px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </h1>
          <h2 class="text-orange font-bold">May 21, 2020</h2>
        </div>
        <!-- RECENT POST 2 -->
        <div
          class="recent__posts__2 mt-[10px] border-b-4 border-whitesmoke pb-[10px]"
        >
          <h1 class="font-bold mb-[10px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </h1>
          <h2 class="text-orange font-bold">May 21, 2020</h2>
        </div>

        <!-- RECENT POST 3 -->
        <div class="recent__posts__3 mt-[10px]">
          <h1 class="font-bold mb-[10px]">
            Lorem ipsum, dolor sit amet consectetur adipisicing.
          </h1>
          <h2 class="text-orange font-bold">May 21, 2020</h2>
        </div>
      </div>

      <!--CATEGORIES  -->
      <div class="categories mt-[80px]">
        <h1 class="uppercase font-bold border-b-4 border-whitesmoke pb-[10px]">
          categories
        </h1>
        <div class="mt-[10px]">
          <ul class="leading-[35px] list-disc">
            <li
              class="cursor-pointer ml-[30px] hover:text-orange transition-all duration-75"
            >
              Nature Lifestyle
            </li>
            <li
              class="cursor-pointer ml-[30px] hover:text-orange transition-all duration-75"
            >
              Awesome Layouts
            </li>
            <li
              class="cursor-pointer ml-[30px] hover:text-orange transition-all duration-75"
            >
              Creative Ideas
            </li>
            <li
              class="cursor-pointer ml-[30px] hover:text-orange transition-all duration-75"
            >
              Responsive Templates
            </li>
            <li
              class="cursor-pointer ml-[30px] hover:text-orange transition-all duration-75"
            >
              HTML5/CSS3 Templates
            </li>
            <li
              class="cursor-pointer ml-[30px] hover:text-orange transition-all duration-75"
            >
              Creative & Unique
            </li>
          </ul>
        </div>
      </div>

      <!-- TAG CLOUDS -->
      <div class="tag__clouds">
        <h1
          class="uppercase mt-[80px] font-bold border-b-4 border-whitesmoke pb-[10px]"
        >
          tag clouds
        </h1>
        <div class="tags mt-[20px]">
          <button
            class="font-bold mr-[5px] mb-[10px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            Lifestyle
          </button>

          <button
            class="font-bold mr-[5px] mb-[10px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            Creative
          </button>

          <button
            class="font-bold mr-[5px] mb-[10px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            HTML5
          </button>

          <button
            class="font-bold mr-[5px] mb-[10px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            Inspiration
          </button>

          <button
            class="font-bold mr-[5px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            Motivation
          </button>

          <button
            class="font-bold mr-[5px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            PSD
          </button>

          <button
            class="font-bold mr-[5px] border-2 px-[30px] py-[10px] hover:bg-orangev2 transition-all duration-75"
          >
            Responsive
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import picture_blog_1 from "../../assets/images/blog-post-01.jpg";
import picture_blog_2 from "../../assets/images/blog-post-02.jpg";

export default {
  data() {
    return {
      picture_blog_1,
      picture_blog_2,
    };
  },
};
</script>

<style lang="scss" scoped>
.information__home {
  .information__left {
    .information__post__1 {
    }
    .information__post__2 {
    }
  }
  .information__right {
  }
}
</style>
