.header__section {
  display: flex;
  justify-content: space-around;
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  box-shadow: -1px 14px 13px -5px rgba(0, 0, 0, 0.2);
  height: 120px;
  line-height: 114px;
  z-index: 10;
  .header__logo {
    h1 {
      font-weight: bold;
      font-size: 1.2rem;
    }
    h1::after {
      content: ".";
      font-size: 30px;
      color: red;
      border-radius: 50%;
    }
  }
  .header__navbar {
    line-height: 124px;
    a {
      text-transform: uppercase;
      margin-right: 1.2rem;
      font-weight: bold;
      cursor: pointer;
    }
    a.home {
      color: orange;
    }
  }
}
