<template>
  <section class="header__section">
    <div class="header__logo">
      <h1>STAND BLOG</h1>
    </div>
    <div class="header__navbar">
      <a class="home">home</a>
      <a>about us</a>
      <a>blog entries</a>
      <a>post details</a>
      <a>contact us</a>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "../HeaderHome/HeaderHome";
// .header__section {
//   display: flex;
//   justify-content: space-around;
//   background-color: #f7f7f7;
//   position: fixed;
//   width: 100%;
//   box-shadow: -1px 14px 13px -5px rgba(0, 0, 0, 0.2);
//   height: 120px;
//   line-height: 80px;
//   z-index: 10;
//   .header__logo {
//     h1::after {
//       content: ".";
//       font-size: 30px;
//       color: red;
//       border-radius: 50%;
//     }
//   }
//   .header__navbar {
//     line-height: 124px;
//     a {
//       text-transform: uppercase;
//       margin-right: 1.2rem;
//       font-weight: bold;
//       cursor: pointer;
//     }
//     a.home {
//       color: orange;
//     }
//   }
// }
</style>
