<template>
  <div id="HomeScreen">
    <HeaderHome />
    <CarouselHome />
    <CreativeHome />
    <InformationHome />
    <FooterHome />
  </div>
</template>

<script>
import HeaderHome from "../../components/HeaderHome/HeaderHome.vue";
import CarouselHome from "../../components/CarouselHome/CarouselHome.vue";
import CreativeHome from "../../components/CreativeHome/CreativeHome.vue";
import InformationHome from "../../components/InformationHome/InformationHome.vue";
import FooterHome from "@/components/FooterHome/FooterHome.vue";
export default {
  name: "HomeScreen",
  setup() {},
  components: {
    HeaderHome,
    CarouselHome,
    CreativeHome,
    InformationHome,
    FooterHome,
  },
};
</script>

<style scoped></style>
