.carousel__section {
  padding-top: 150px;

  .carousel__images {
    height: 418px;
    width: 96%;
    // margin: 0 auto;
    position: relative;
    left: 65%;
    transform: translateX(-65%);
    .carousel__content {
      .carousel__content__image {
        position: relative;
        img {
          width: 96%;
          margin-right: 0;
        }
        .carousel__content__title {
          //   position: relative;
          //   bottom: 150px;
          //   z-index: 99999;
          position: absolute;
          top: 250px;
          left: 36px;
          color: white;
          h1 {
            color: #ec8946;
            font-weight: bold;
            margin-bottom: 5px;
          }
        }
        .carousel__content__date {
          color: white;
          position: absolute;
          top: 310px;
          left: 36px;
          span.admin {
            margin-right: 5px;
            border-right: 1px solid white;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
