<template>
  <section class="carousel__section">
    <div class="carousel__images">
      <VueSlickCarousel v-bind="settings">
        <!-- CONTENT_1 -->
        <div class="carousel__content">
          <div class="carousel__content__image">
            <img src="../../assets/images/banner-item-01.jpg" alt="" />
            <div class="carousel__content__title">
              <h1>Lorem, ipsum.</h1>
              <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="carousel__content__date">
              <span class="admin">Admin</span>
              <span>May 12, 2020</span>
            </div>
          </div>
        </div>

        <!-- CONTENT_2 -->
        <div class="carousel__content">
          <div class="carousel__content__image">
            <img src="../../assets/images/banner-item-02.jpg" alt="" />
            <div class="carousel__content__title">
              <h1>Lorem, ipsum.</h1>
              <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="carousel__content__date">
              <span class="admin">Admin</span>
              <span>May 12, 2020</span>
            </div>
          </div>
        </div>
        <!-- CONTENT_3 -->

        <div class="carousel__content">
          <div class="carousel__content__image">
            <img src="../../assets/images/banner-item-03.jpg" alt="" />
            <div class="carousel__content__title">
              <h1>Lorem, ipsum.</h1>
              <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="carousel__content__date">
              <span class="admin">Admin</span>
              <span>May 12, 2020</span>
            </div>
          </div>
        </div>
        <!-- CONTENT_4 -->

        <div class="carousel__content">
          <div class="carousel__content__image">
            <img src="../../assets/images/banner-item-04.jpg" alt="" />
            <div class="carousel__content__title">
              <h1>Lorem, ipsum.</h1>
              <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="carousel__content__date">
              <span class="admin">Admin</span>
              <span>May 12, 2020</span>
            </div>
          </div>
        </div>
        <!-- CONTENT_5 -->

        <div class="carousel__content">
          <div class="carousel__content__image">
            <img src="../../assets/images/banner-item-05.jpg" alt="" />
            <div class="carousel__content__title">
              <h1>Lorem, ipsum.</h1>
              <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="carousel__content__date">
              <span class="admin">Admin</span>
              <span>May 12, 2020</span>
            </div>
          </div>
        </div>

        <!-- CONTENT_6 -->
        <div class="carousel__content">
          <div class="carousel__content__image">
            <img src="../../assets/images/banner-item-06.jpg" alt="" />
            <div class="carousel__content__title">
              <h1>Lorem, ipsum.</h1>
              <p>Lorem ipsum dolor sit.</p>
            </div>
            <div class="carousel__content__date">
              <span class="admin">Admin</span>
              <span>May 12, 2020</span>
            </div>
          </div>
        </div>
      </VueSlickCarousel>
    </div>
  </section>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// optional style for arrows & dots
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import banner_1 from "../../assets/images/banner-item-01.jpg";
export default {
  name: "MyComponent",
  components: { VueSlickCarousel },

  //   FOR USING SLICK SLIDER
  data() {
    return {
      settings: {
        dots: true,
        slidesPerRow: 1,
        slidesToScroll: 3,
        slidesToShow: 3,
        speed: 500,
        infinite: true,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../CarouselHome/CarouselHome";
// .carousel__section {
//   padding-top: 150px;

//   .carousel__images {
//     height: 418px;
//     width: 96%;
//     // margin: 0 auto;
//     position: relative;
//     left: 65%;
//     transform: translateX(-65%);
//     .carousel__content {
//       .carousel__content__image {
//         position: relative;
//         img {
//           width: 96%;
//           margin-right: 0;
//         }
//         .carousel__content__title {
//           //   position: relative;
//           //   bottom: 150px;
//           //   z-index: 99999;
//           position: absolute;
//           top: 200px;
//           left: 36px;
//           color: white;
//           h1 {
//             color: #ec8946;
//           }
//         }
//         .carousel__content__date {
//           color: white;
//           position: absolute;
//           top: 320px;
//           left: 36px;
//           span.admin {
//             margin-right: 5px;
//             border-right: 1px solid white;
//             padding-right: 5px;
//           }
//         }
//       }
//     }
//   }
// }

// for slick arrow
</style>
