.creative__section {
  background-color: #292933;
  max-width: 1214px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  .creative__title {
    h1 {
      color: #ec8946;
      font-weight: bold;
    }
    p {
      color: white;
      font-weight: bold;
    }
  }
  .creative__button {
    button {
      background-color: #ec8946;
      color: white;
      text-transform: uppercase;
      padding: 15px 20px;
      border: 1px solid #ec8946;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}
