<template>
  <section class="creative__section">
    <div class="creative__title">
      <h1>Stand Blog HTML5 Template</h1>
      <p>Creative HTML Template For Bloggers</p>
    </div>
    <div class="creative__button">
      <button class="">Download Now</button>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "../CreativeHome/CreativeHome";
// .creative__section {
//   background-color: #292933;
//   max-width: 1200px;
//   padding: 10px 20px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-around;
//   margin-bottom: 20px;
//   .creative__title {
//     h1 {
//       color: #ec8946;
//     }
//     p {
//       color: white;
//       font-weight: bold;
//     }
//   }
//   .creative__button {
//     line-height: 112px;
//     button {
//       background-color: #ec8946;
//       color: white;
//       text-transform: uppercase;
//       padding: 15px 20px;
//       border: 1px solid #ec8946;
//       font-weight: bold;
//       font-size: 1rem;
//       cursor: pointer;
//     }
//   }
// }
</style>
