<template>
  <section class="footer__section mt-[50px] bg-slate900 min-h-[300px] relative">
    <div
      class="absolute pb-[40px] left-[50%] translate-x-[-50%] top-[30%] translate-y-[-30%] footer__contact flex justify-center align-middle border-b-2 border-whitesmoke"
    >
      <span
        class="font-bold cursor-pointer hover:text-orange transition-all duration-75 border-r-2 pr-[25px] mr-[25px] uppercase text-whitesmoke"
        >facebook</span
      >
      <span
        class="font-bold cursor-pointer hover:text-orange transition-all duration-75 border-r-2 pr-[25px] mr-[25px] uppercase text-whitesmoke"
        >twitter</span
      >
      <span
        class="font-bold cursor-pointer hover:text-orange transition-all duration-75 border-r-2 pr-[25px] mr-[25px] uppercase text-whitesmoke"
        >behance</span
      >
      <span
        class="font-bold cursor-pointer hover:text-orange transition-all duration-75 border-r-2 pr-[25px] mr-[25px] uppercase text-whitesmoke"
        >linkedin</span
      >
      <span
        class="font-bold cursor-pointer hover:text-orange transition-all duration-75 uppercase text-whitesmoke"
        >dribble</span
      >
    </div>
    <div
      class="footer__copyright absolute left-[50%] translate-x-[-50%] bottom-[20%]"
    >
      <h1 class="uppercase font-bold text-whitesmoke">
        copyright 2020 stand blog co. design:
        <span class="uppercase text-orange font-bold">template</span>
      </h1>
    </div>
  </section>
</template>

<script>
export default {};
</script>
