<template>
  <div id="app">
    <!-- <img alt="Vue logo" src="./assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <HomeScreen />
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld.vue";
import HomeScreen from "./Page/HomesScreen/HomeScreen.vue";
import "./index.css";

export default {
  name: "App",
  components: {
    // HelloWorld,
    HomeScreen,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button.slick-prev,
button.slick-next {
  z-index: 10;
}

.slick-prev {
  left: -18px;
}
.slick-next {
  right: 35px;
}

.slick-prev:before {
  content: "<";
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.slick-next:before {
  content: ">";
  font-weight: bold;
  font-size: 30px;
  color: black;
}

button.slick-prev:before,
button.slick-next:before {
  background-color: rgba(238, 238, 238, 1);
  padding: 20px 20px;
}
</style>
